<div id="<%= dom_id schedule %>">
  <p>
    <strong>Tutor:</strong>
    <%= schedule.tutor_id %>
  </p>
  
  <p>
    <strong>Start time:</strong>
    <%= schedule.start_time %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= schedule.active %>
  </p>

</div>